body {
    background-color: #eee;
    color: #212121;
    margin: 1em auto;
    max-width: 40em;
    font: 1.2em/1.62 Cantarell, Helvetica, Arial, sans-serif;
    margin-top: 0px;
}

h1 {
    text-align: center;
}

h1 a {
    text-decoration: none;
}

#description {
    text-align: center;
    margin: 0px;
}

select {
    display: block;
    margin-top: 16px;
    font-size: 20px;
    padding: 5px;
    border-radius: 3px;
    text-align-last: center;
    width: 100%;
}

.column{
    display: inline-flex;
}

.column div {
    margin: 10px;
}

.column * {
    color: #121212;
    margin: 3px;
}

#results {
    margin-top: 30px;
    text-align: center;
}

.title {
    color: #121212;
    text-align: start;
    width: 100%;
    padding: 5px;
    margin: 0px;
    font-size: 23px;
}

.header {
    font-weight: bold;
}

.card {
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 1rem;
    margin: 1rem auto;
    width: 600px;
}

.time {
    color: #01579B;
    text-align: end;
    padding: 5px;
    padding-right: 8px;
}

#selects {
    width: 600px;
    margin: 0 auto;
}

@media (max-width: 652px) {
    #selects {
        width: 80%;
    }
    #results div {
        width: 80%;
        margin: 0 auto;
    }
    .column {
        display: inline;
    }
    .header {
        margin-top: 20px;
    }
}

a {
    color: #212121;
}
.link a {
    color: #121212;
}

.link {
    text-align-last: center;
    margin: 0px;
}

footer {
    margin-top: 70px;
    text-align: center;
}

button {
    background-color: #00000000;
    border: #efefef solid 2px;
    font-size: 21px;
    color: #efefef;
    padding: 6px 32px 6px 32px;
    border-radius: 3px;
}

footer * {
    display: inline;
}
