body {
    background-color: #01579B;
    color: #efefef;
    margin: 1em auto;
    max-width: 40em;
    font: 1.2em/1.62 Helvetica, Arial, sans-serif;
    margin-top: 0px;
}

h1 {
    text-align: center;
}

select {
    display: block;
    margin-top: 16px;
    font-size: 20px;
    padding: 5px;
    border-radius: 3px;
    text-align-last: center;
    width: 100%;
}

#results {
    margin-top: 30px;
    text-align: center;
}

.title {
    color: #121212;
    text-align: start;
    width: 100%;
    padding: 5px;
    margin: 0px;
    font-size: 23px;
}

.card {
    background-color: #efefef;
    width: 600px;
    margin: 0 auto;
    border-radius: 3px;
}

.time {
    color: #01579B;
    text-align: end;
    padding: 5px;
    padding-right: 8px;
}

#selects {
    width: 600px;
    margin: 0 auto;
}

@media (max-width: 652px) {
    #selects {
        width: 80%;
    }
    #results div {
        width: 80%;
    }
}

a {
    color: #efefef;
}
.link a {
    color: #121212;
}

.link {
    text-align-last: center;
    margin: 0px;
}